<fieldset class="theme-selector">
  <legend>Choisissez un thème PDF</legend>
  <div class="theme-options">
    <label class="theme-option">
      <input type="radio" name="theme" value="classique" checked>
      <span>Classique</span>
      <small>Style vert et or professionnel</small>
    </label>
    <label class="theme-option">
      <input type="radio" name="theme" value="moderne">
      <span>Moderne</span>
      <small>Bleu nuit avec accent orange</small>
    </label>
    <label class="theme-option">
      <input type="radio" name="theme" value="minimaliste">
      <span>Minimaliste</span>
      <small>Blanc, gris et bordure fine</small>
    </label>
  </div>
</fieldset>
